@model Entities.Models.Kullanici



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>@Model.KullaniciAd</h3>
    <h3>@Model.KullaniciId</h3>
    <h3>@Model.Sifre</h3>
</body>
</html>



<!-- <a href = "/Kullanici">bllabla</a>              indexe geri döndürme--> 